
.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .last{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mail{
    font-size: 20px;
    padding-left: 20px;
  }
  .phn{
    font-size: 20px;
    padding-left: 20px;
  }
  .codintext {
    font-size: 20px;
    padding-left: 20px;
    position: relative;
    left: 3%;
  }
  .codinimg {
    position: relative;
    left: 2%;
  }
  img {
    max-width: 100%;
    border-radius: 200px;
  }

  .image {
    flex-basis: 20%;
  }

  .text {
    font-size: 250%;
    padding-left: 20px;
  }
  .container2 {
    display: flex;
  }

  .insta {
    border-radius: 10px;
    max-width: 130%;
    position: relative;
    width: 3%;
    left: 42%;
    top: 3%;
  }
  .github {
    border-radius: 3px;
    position: relative;
    left: 46%;
    width: 3%;
  }
  .github:hover{
    width:4%;
  }
  .insta:hover{
    width:4%;
  }
  .linkedin:hover{
    width:4%;
  }
  .linkedin {
    border-radius: 3px;
    position: relative;
    left: 50%;
    width: 3%;
  }
  .firstimage {
    width: 30%;
  }
  p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .profile {
    width: 15%;
  }
  .profile:hover{
    width:18%;
  }
  .intro {
    animation-duration: 3s;
    animation-name: slidein;
  }
  .heading{
    left:30%;
    right:50%;
    
    
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
 
    75% {
      font-size: 120%;
      margin-left: 25%;
      width: 150%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes example {
    from {background-color: #a8a4a5;
          width: 100%;}
     to {background-color: #a4d0d1;
        width: 100%;}
 }
.hi{
  width: 100%;
  height: 100%;
  background-color:  #a2c1cc;
  animation-name: example;
  animation-duration: 3s;
}
.hii{
  background-color:  #a2c1cc;

}
  .hobbies {
    width: 10%;
  }
  .last{
    align-items: flex-end;
  }
  .phn{
    align-items: flex-end;
  }
  hr{
    border-style: dotted none none;
    border-color: rgb(211, 202, 202);
    border-width: 7px;
    width: 10%;
  }
  .topnav {
     background-color: #333;
     overflow: hidden;
   }
   .topnav a {
     float: left;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
    font-size: 17px;
   }
.topnav a:hover {
    background-color: #ddd;
     color: black;
}
 .topnav a.active {
    background-color: #04AA6D;
    color: white;
 }
 
 @media screen and (max-width: 768px){
     .profile {
        width:30%;
        right: 10%;
     }
     .insta {
    width: 10%;
    left: 42%;
    top: 3%;
  }
  .linkedin {
    position: relative;
    left: 50%;
    width: 10%;
  }
  .github {
    position: relative;
    left: 46%;
    width: 10%;
  }
  .topnav{
    width:10%;
  }

 }